/*************** TAGS ****************/
body {
  /* width: 1440px; */
  font-family: 'Inter', sans-serif;
  color: hsl(240, 38%, 20%);
}

p {
  font-size: 32px;
  font-weight: 300;
}

h3 {
  font-weight: 700;
  letter-spacing: 0.7px;
  padding-top: 10px;
}

/*************** CLASSES ****************/
/* Background images*/
.bg-image {
  position: absolute;
  z-index: -2;
}

.bg {
  width: 51%;
  right: 30px;
  top: 58px;
}

.quotes {
  width: 9%;
  left: 223px;
  top: 215px;
}

.curve {
  width: 45%;
  left: 0px;
  bottom: -240px;
}

/* Slider container */
.slider-container {
  width: 80%;
  margin: 120px auto 120px 118px;
}

.row-container {
  align-items: center;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
}

.text-container {
  text-align: left;
  width: 91%;
  line-height: 1.4;
}

.image-container {
  text-align: center;
  position: relative;
}

.image-item {
  position: relative;
  left: -65px;
  z-index: -1;
  border-radius: 5px;
  width: 130%;
  max-width: 540px;
  box-shadow: 0 55px 32px -25px hsla(240, 2%, 48%, 0.32);
}

/*Buttons*/
a:hover {
  background-color: #ddd;
}

.buttons-container {
  position: relative;
  display: inline-flex;
  bottom: 35px;
  left: -165px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 60px;
  height: 60px;
}

.prev {
  border-right: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.next {
  border-left: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* others */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.ligther-subtitle {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
}

.space-inline {
  display: inline-block;
  width: 5px;
}

/****************************** MEDIA QUERYS ****************************/
@media (max-width: 375px) {
  p, h3 {
    font-size: 18px;
  }

  h3 {
    width: 55%;
    margin: auto;
    text-align: center;
  }

  /* Background images */
  .bg {
    width: 90%;
    right: 20px;
    top: 29px;
  }

  .quotes {
    width: 17%;
    left: 150px;
    top: 350px;
  }

  .curve {
    width: 60%;
    left: 0px;
    bottom: 0px;
  }

  /* Slider container */
  .slider-container {
    width: 98%;
    margin: auto;
  }

  .row-container {
    flex-flow: column-reverse wrap;
  }

  .text-container {
    text-align: center;
    margin: auto 15px;
  }

  .image-container {
    text-align: center;
    margin-top: 50px;
  }

  .image-item {
    width: 75%;
    position: static;
  }

  /*Buttons*/
  .buttons-container {
    bottom: 30px;
    left: 0;
  }

  .button {
    width: 46px;
    height: 45px;
  }

  /* others */
  .attribution {
    font-size: 8px;
    text-align: center;
    padding-top: 20px;
  }
}
